<!--
  This template loads for the 'tab.pet-detail' state (app.js)
  'pet' is a $scope variable created in the PetCtrl controller (controllers.js)
  The PetCtrl pulls data from the Pets service (service.js)
  The Pets service returns an array of pet data
-->
<ion-view title="{{rss.title}}">
  <ion-content padding="true">

    <button ng-click="buyNow()"> Buy Now !</button>
    <div ng-bind-html="rss.description"></div>
    <p><a class="button button-small icon ion-arrow-left-b" href="#/tab/rss">All news</a></p>
  </ion-content>
</ion-view>

