.btn-auth{
   display:block;
   clear:both;
   width:80%;
   margin:15px auto;
}

ion-content.login{
   background: url("../img/main/bath_rugby.png") center center no-repeat;
   background-size: cover;
}

ion-nav-bar.nav-bar {
   background-color: #4a87ee;
}

h1.title {
   color: white;
}

img.fit-view {
   max-width:100%;
   max-height:100%;
}
