<?xml vesion="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ipl.hackathon.bathrugby" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
   <name>Bath Rugby</name>
   <description>
      Bath Rugby Mobile App 
   </description>
   <author email="adben002@gmail.com">
      Adam Bennett
   </author>
   <content src="index.html"/>
   <access origin="*"/>
   <preference name="webviewbounce" value="false"/>
   <preference name="UIWebViewBounce" value="false"/>
   <preference name="DisallowOverscroll" value="true"/>
   <preference name="BackupWebStorage" value="none"/>
   <preference name="showmessageinnotification" value="true" />
   <feature name="StatusBar">
      <param name="ios-package" value="CDVStatusBar" onload="true"/>
   </feature>
</widget>
